@mixin scale($amount){  
    -webkit-transform: scale($amount);
    -moz-transform: scale($amount);
    -o-transform: scale($amount);
    -ms-transform: scale($amount);
    transform: scale($amount);
}
@mixin alpha($alpha){
    opacity: $alpha;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha)";
    filter: alpha(opacity=$alpha);
}
@mixin rotate($amount){
    -ms-transform: rotate($amount); /* IE 9 */
    -webkit-transform: rotate($amount); /* Chrome, Safari, Opera */
    transform: rotate($amount);
}
body,html{
    position: fixed;
    background:#333 !important;
}
.display-container{
    border-radius: 8px 8px 0 0;
}
.wrapper{
    position: fixed;
    background:#333 !important;
}
.header{
    border-bottom: thin solid #998C4A;
    color: #A1E8FF;
    font-weight: bold;
    padding: 5px;
    background: #998C4A;
    border-radius: 8px 8px 0 0;
}
.sections{    position: fixed;
    top: 40%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
    background: #A0CCCB;
    padding-top: 10px;
}
.section{
    height: 100%;
    width: 100%;
    background: #CCC4A0;
    margin-right: 5px;
    border-radius: 8px 8px 0 0;
}
.text-region{    
    padding: 5px;
    color: #998C4A;
    border-radius: 8px;
    margin: 5px;
    background: #FFF4E1;
}
.pulse-container{
    border-radius:50%;
    margin: -25px;
    height:50px;
    width:50px;
    background:#A0CCCB;
    box-shadow:0 0 10px #FFF4E1;
    position:fixed;
    @include alpha(.6);
}
.pulse-container:hover{
    background:#998C4A;
    box-shadow:0 0 20px #A1E8FF;
    animation:pulse 1.5s ease-out infinite; 
}
.vanish{
    animation:vanish .5s ease-out 1;  
    @include scale(0);
}
.reveal{
    animation:reveal .5s ease-out 1;  
    @include scale(1);
}
.attention::after{
    content:" ";
    border-radius:50%;
    position: absolute;
    margin: -5px;
    height: 60px;
    width: 60px;
    box-shadow:0 0 15px #FFFFFF;
    z-index:1000;
    @include alpha(0);
    animation: attention-ping 1.3s ease-out infinite;
}
.logo{
    margin: -50px;
    height: 100px;
    width: 100px;
    top:50%;
    left:50%;
}
.logo-svg{
    position: fixed;
    margin: -22px 0 0 -23px;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    pointer-events:none;
}
.play{
    position: fixed;
    top:0;
    left:20%;
    margin-top: 10px;
}
.play-svg{
    position: fixed;
    margin: 17px 0 0 -18px;
    top: 0;
    left: 20%;
    height: 35px;
    width: 35px;
    pointer-events: none;
}
.share{
    position: fixed;
    top:0;
    left:40%;
    margin-top: 10px;
}
.share-svg{
    position: fixed;
    margin: 17px 0 0 -18px;
    top: 0;
    left: 40%;
    height: 35px;
    width: 35px;
    pointer-events: none;
}
.dream{
    position: fixed;
    top:0;
    left:60%;
    margin-top: 10px;
}
.dream-svg{
    position: fixed;
    margin: 17px 0 0 -18px;
    top: 0;
    left: 60%;
    height: 35px;
    width: 35px;
    pointer-events: none;
}
.love{
    position: fixed;
    top:0;
    left:80%;
    margin-top: 10px;
}
.love-svg{
    position: fixed;
    margin: 17px 0 0 -18px;
    top: 0;
    left: 80%;
    height: 35px;
    width: 35px;
    pointer-events: none;
}
.pulse-container::after{
    margin: -10px;
    height: 120px;
    width: 120px;
}
#svg-pointer{
    position: fixed;
    left: 30%;
    bottom: 30%;
    height: 50px;
    width: 50px;
    margin: 0 0 -45px -25px;
    @include rotate(30deg);
    @include alpha(0);
}
#svg-pointer.hint{
    animation: attention-fly-in 10s 3s ease-out infinite;
}
@keyframes pulse{
  0% { 
    @include alpha(.4);
  }
  70%{
    @include alpha(1);    
  }
  100% { 
    @include alpha(.4);
    }
}
@keyframes attention-ping{
  0% { 
    @include scale(.4);
    @include alpha(0);
  }
  70%{
    @include alpha(1);    
  }
  100% { 
    @include scale(1.0);    
    @include alpha(0);
    }
}
@keyframes attention-fly-in{
  0% { 
    left: 45%;
    bottom: 45%;
  }
  14%{
    @include alpha(.6);
    left: 50%;
    bottom: 50%;  
  }
  20% { 
    @include scale(1.0);    
    @include alpha(0);
    }
}
@keyframes vanish{
  0% { 
    @include scale(1);
  }
  70%{
    @include scale(1.5); 
  }
  100% { 
    @include scale(0); 
    }
}
@keyframes reveal{
  0% { 
    @include scale(0);
  }
  70%{
    @include scale(1.5); 
  }
  100% { 
    @include scale(1); 
    }
}