body, html {
  position: fixed;
  background: #333 !important; }

.display-container {
  border-radius: 8px 8px 0 0; }

.header {
  border-bottom: thin solid #998C4A;
  color: #A1E8FF;
  font-weight: bold;
  padding: 5px;
  background: #998C4A;
  border-radius: 8px 8px 0 0; }

.sections {
  position: fixed;
  top: 40%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  background: #A0CCCB;
  padding-top: 10px; }

.section {
  height: 100%;
  width: 100%;
  background: #CCC4A0;
  margin-right: 5px;
  border-radius: 8px 8px 0 0; }

.text-region {
  padding: 5px;
  color: #998C4A;
  border-radius: 8px;
  margin: 5px;
  background: #FFF4E1; }

.pulse-container {
  border-radius: 50%;
  margin: -25px;
  height: 50px;
  width: 50px;
  background: #A0CCCB;
  box-shadow: 0 0 10px #FFF4E1;
  position: fixed;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha)";
  filter: alpha(opacity=0.6); }

.pulse-container:hover {
  background: #998C4A;
  box-shadow: 0 0 20px #A1E8FF;
  animation: pulse 1.5s ease-out infinite; }

.vanish {
  animation: vanish .5s ease-out 1;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

.reveal {
  animation: reveal .5s ease-out 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.attention::after {
  content: " ";
  border-radius: 50%;
  position: absolute;
  margin: -5px;
  height: 60px;
  width: 60px;
  box-shadow: 0 0 15px #FFFFFF;
  z-index: 1000;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha)";
  filter: alpha(opacity=0);
  animation: attention-ping 1.3s ease-out infinite; }

.logo {
  margin: -50px;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%; }

.logo-svg {
  position: fixed;
  margin: -22px 0 0 -23px;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  pointer-events: none; }

.play {
  position: fixed;
  top: 0;
  left: 20%;
  margin-top: 10px; }

.play-svg {
  position: fixed;
  margin: 17px 0 0 -18px;
  top: 0;
  left: 20%;
  height: 35px;
  width: 35px;
  pointer-events: none; }

.share {
  position: fixed;
  top: 0;
  left: 40%;
  margin-top: 10px; }

.share-svg {
  position: fixed;
  margin: 17px 0 0 -18px;
  top: 0;
  left: 40%;
  height: 35px;
  width: 35px;
  pointer-events: none; }

.dream {
  position: fixed;
  top: 0;
  left: 60%;
  margin-top: 10px; }

.dream-svg {
  position: fixed;
  margin: 17px 0 0 -18px;
  top: 0;
  left: 60%;
  height: 35px;
  width: 35px;
  pointer-events: none; }

.love {
  position: fixed;
  top: 0;
  left: 80%;
  margin-top: 10px; }

.love-svg {
  position: fixed;
  margin: 17px 0 0 -18px;
  top: 0;
  left: 80%;
  height: 35px;
  width: 35px;
  pointer-events: none; }

.pulse-container::after {
  margin: -10px;
  height: 120px;
  width: 120px; }

#svg-pointer {
  position: fixed;
  left: 30%;
  bottom: 30%;
  height: 50px;
  width: 50px;
  margin: 0 0 -45px -25px;
  -ms-transform: rotate(30deg);
  /* IE 9 */
  -webkit-transform: rotate(30deg);
  /* Chrome, Safari, Opera */
  transform: rotate(30deg);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha)";
  filter: alpha(opacity=0); }

#svg-pointer.hint {
  animation: attention-fly-in 10s 3s ease-out infinite; }

@keyframes pulse {
  0% {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha)";
    filter: alpha(opacity=0.4); }
  70% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha)";
    filter: alpha(opacity=1); }
  100% {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha)";
    filter: alpha(opacity=0.4); } }
@keyframes attention-ping {
  0% {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha)";
    filter: alpha(opacity=0); }
  70% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha)";
    filter: alpha(opacity=1); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha)";
    filter: alpha(opacity=0); } }
@keyframes attention-fly-in {
  0% {
    left: 45%;
    bottom: 45%; }
  14% {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha)";
    filter: alpha(opacity=0.6);
    left: 50%;
    bottom: 50%; }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha)";
    filter: alpha(opacity=0); } }
@keyframes vanish {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  70% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); } }
@keyframes reveal {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  70% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=lore.css.map */
